---
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";
---

<Layout title={"About"}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1>Hi, I’m Alex 👋</h1>
    </header>

    <p>
      <img
        src="/alex-ghirelli.jpg"
        alt="Profile Image"
        style="position: relative;"
      />
    </p>
    <p>
      I have many years of experience in creating static and dynamic websites,
      single page applications, mobile applications and web apps. I take care of
      every aspect of both front-end and back-end development. I always love to
      find the right solution in terms of user experience and put myself to the
      test every day with new problems to solve. I am able to write safe and
      tested code. I create, maintain, and review APIs and server applications.
    </p>
    <p>
      Always fascinated by programming and new technologies. I really like being
      updated about new APIs, frameworks and programming languages for my
      projects. I really enjoy learning new stuff and working in groups and I’m
      always open mind to new ideas. As a developer I’m obviously addicted to
      the Apple ecosystem but without ignoring other platforms. Last but not
      least, I keep myself up-to-date reading computer science news and tech
      blogs.
    </p>
    <h2>Skills</h2>
    <ul class="skill-list">
      <li>
        Front-end: <b>HTML5</b>, <b>Javascript</b>, <b>TypeScript</b>, <b
          >LESS</b
        >, <b>SASS</b>, <b>CSS3</b>, <b>GraphQL</b>
      </li>
      <li>
        Frameworks: <b>ReactJS</b>. <b>React Native</b>, <b>AngularJS</b>, <b
          >Angular 2+</b
        >, <b>Bootstrap</b>, <b>Koa.js</b>, <b>Express.js</b>, <b>Electron.io</b
        >, <b>StrapiJS</b>, <b>Laravel</b>, <b>Symfony</b>
      </li>
      <li>Back-end: <b>NodeJS</b>, <b>PHP</b>, <b>Python</b>, <b>C#</b></li>
      <li>
        AWS: <b>EC2</b>, <b>ECR</b>, <b>ECS</b>, <b>DynamoDB</b>, <b>AppSync</b
        >, <b>Cloud Formation</b>, <b>API Gateway</b>, <b>Aurora</b>
      </li>
      <li>
        Stacks: <b>JAM</b>, <b>LEMP</b>, <b>LAMP</b>, <b>MEAN</b>, <b>MERN</b>
      </li>
      <li>Database: <b>MySQL</b>, <b>MongoDB</b>, <b>SQLite</b></li>
      <li>Testing: <b>Jest</b>, <b>Selenium</b>, <b>Nightwatch</b></li>
      <li>Packager: <b>Webpack</b></li>
      <li>Version control: <b>Git</b>, <b>SVN</b></li>
      <li>
        CI/CD: <b>CircleCI</b>, <b>Jenkins</b>, <b>Gitlab CI</b>, <b
          >Github Actions</b
        >, <b>Bitbucket Pipelines</b>
      </li>
      <li>
        CMS: <b>Wordpress</b>, <b>Magento</b>, <b>Drupal</b>, <b>KeystoneJS</b>
      </li>
      <li>
        Devops: <b>GitHub</b>, <b>Bitbucket</b>, <b>NGINX</b>, <b>APACHE</b>, <b
          >Varnish</b
        >, <b>Memcached</b>
      </li>
      <li>OS: <b>Mac OS</b>, <b>Windows</b>, <b>Linux</b></li>
    </ul>
    <h2>Experience</h2>
    <ul>
      <li>
        <a href="https://www.musixmatch.com" target="_blank" rel="nofollow"
          ><b>Musixmatch</b></a
        > as <b>Software Engineer</b> from <u>March 2021</u> to <u>present</u>
      </li>
      <li>
        <a href="https://www.ynap.com" target="_blank" rel="nofollow"
          ><b>Yoox Net-A-Porter Group</b></a
        > as <b>Senior Frontend Engineer</b> from <u>June 2019</u> to <u
          >March 2021</u>
      </li>
      <li>
        <a href="https://www.technogym.com" target="_blank" rel="nofollow"
          ><b>Technogym</b></a
        > as <b>Senior Frontend Engineer</b> from <u>June 2017</u> to <u
          >June 2019</u>
      </li>
      <li>
        <a href="http://www.2mlab.com" target="_blank" rel="nofollow"
          ><b>2mlab</b></a
        > as <b>Frontend Engineer</b> from <u>January 2015</u> to <u
          >April 2017</u>
      </li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="https://www.cartier.com/en-gb" target="_blank" rel="nofollow"
          >Cartier</a>
      </li>
      <li>
        <a href="https://www.balmain.com" target="_blank" rel="nofollow"
          >Balmain</a>
      </li>
      <li>
        <a href="https://www.karl.com" target="_blank" rel="nofollow"
          >Karl Lagerfeld</a>
      </li>
      <li>
        <a href="https://www.ferragamo.com" target="_blank" rel="nofollow"
          >Ferragamo</a>
      </li>
      <li>
        <a href="https://www.technogym.com" target="_blank" rel="nofollow"
          >Technogym</a>
      </li>
      <li>
        <a href="http://www.amadori.it" target="_blank" rel="nofollow"
          >Amadori</a>
      </li>
    </ul>
  </main>
</Layout>
